<div class = "row">
    <div class = "col-sm-8">
        <%= render partial: "posts/list", locals: { posts: @posts}  %>
    </div>
    <div class = "col-sm-4">
        <p class = "h4"><%= @profile.full_name %></p>
        <p><%= @profile.username %></p>
        <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.</p>

        <p>Cake Day: <%= @profile.created_at.strftime("%d/%m/%y") %></p>
    </div>

</div>